build:asan --copt=-fsanitize=address
build:asan --compilation_mode=dbg
build:asan --copt=-fno-omit-frame-pointer
build:asan --linkopt=-fsanitize=address
build:asan --test_arg=--log_level=all
build:asan --test_output=all
